p{
    font-family: "微软雅黑";
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    color:blue;
    letter-spacing: initial;
    word-spacing: 1em;
    text-align: center;
    text-indent: 2em;
    text-transform: uppercase;
    line-height: 40px;
    background-color: #ffffff;
}

#content{
    /*display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;*/
    columns: auto;
    column-rule: #ffffff;
    -webkit-columns: 120px;
    -webkit-column-rule: 2px dashed yellowgreen;

}

/*#content p{
margin: 10px;
padding: 15px;
line-height: 50px;
text-align: center;
border:1px #ffff91 solid;
background-color:#ffffff;
}*/