.clearfix{
    color:blue;
}

.N__bottom_left{
    background-color: blueviolet;
}
.pic{
    width: 57px;
    height: 57px;
}
.N__bottom_center{
    text-align:center;
    bottom:0;
    right:50%;
    -webkit-transform:translateX(50%) translateY(100%);
    -ms-transform:translateX(50%) translateY(100%);
    transform:translateX(50%) translateY(100%)
}
