table td:nth-of-type(odd){
    background: #ad8cf2;
    color: rgba(0, 0, 120, 0.5);
}
table td:nth-of-type(even){
    background: #ffd2a6;
}



@-webkit-keyframes 'buttonLight'{
    from{
        background: rgba(96,203,27,0.5);
        -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset,0 0 3px rgba(220,120,200,0.8);
        color:red;
    }
    25%{
        background: rgba(196,203,27,0.8);
        -webkit-box-shadow: 0 0 10px rgba(255, 155, 255, 0.5) inset,0 0 8px rgba(220,120,200,0.8);
        color:blue; 
    }
    50%{
        background: rgba(196,203,127,1);
        -webkit-box-shadow: 0 0 5px rgba(155, 255, 255, 0.3) inset,0 0 3px rgba(220,120,100,1);
        color:orange;
    }
    75%{
        background: rgba(196,203,27,0.8);
        -webkit-box-shadow: 0 0 10px rgba(255, 155, 255, 0.5) inset,0 0 8px rgba(120,120,200,0.8);
        color:black;
    }
    to{
        background: rgba(96,203,27,0.5);
        -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset,0 0 3px rgba(220,120,200,0.5);
        color:green;
    }
}


a.btn{
    background: #60cb1b;
    font-size: 16px;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 --1px rgba(0, 0, 0, 0.3);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6) inset,0 0 3px rgba(220,120,200,0.8);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.6) inset,0 0 3px rgba(220,120,200,0.8);
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.6) inset,0 0 3px rgba(220,120,200,0.8);
    animation-name: "buttonLight";
    -webkit-animation-name: "buttonLight";
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}